@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(90deg, rgba(255, 135, 135, 1) 35%, rgba(241, 112, 112, 1) 100%);
}

#container {
    height: auto;
    width: 360px;
    margin: 3% auto;
    padding: 0 0 2% 0;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


#topo {
    background: #F8C4B4;
    margin: 0;
    padding: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding: 10px 25px 0;
    font-size: 21px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


p {
    padding-left: 20px;
    font-weight: bold;
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#total-conta {
    font-size: 14px;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}

#total-conta:focus {
    background: #fff;
    outline: none;
}

#taxa-servico {
    padding: 8px 8px 10px 15px;
    font-size: 15px;
}

#numero-pessoas {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    background-color: #f7f7f7;
    font-size: 14px;
}


button {
    border: none;
    text-transform: uppercase;
    display: block;
    margin: 30px auto;
    background: #F8C4B4;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: black;
    cursor: pointer;
}

button:hover {
    background: #FF8787;
}

button:active {
    position: relative;
    top: 1px;
}

#valor-calculado {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#valor-calculado:before {
    content: "Valor por pessoa:";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#valor-calculado sup {
    font-size: 20px;
    top: -18px;
}

#valor-calculado small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-150px);
    }
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #F8C4B4;
    text-align: center;
    color: #000;
}

.link {
    color: #000;
    font-size: 20px;
}

.centro {
    text-align: center;
}

.img {
    width: 300px;
    margin: 10px;
}